{% extends "layout.njk"%}

      {%block head%}
    <title>Error 404(Not Found)</title>
    <link rel="stylesheet" href="not-found.css">
    {%endblock%}
    {%block content%}
  </head>
  
  <body>

        <div class="robot">
        <img src="https://image.freepik.com/vetores-gratis/robo-mecanico_7814-107.jpg" alt="Error 404">
        </div>
       
        <div class="text">

        <h1>Oooops!</h1>
      
       <h2>Page Not Found</h2>
      
       <h3>The requested URL /doesntexist was not found on this server. <p>That's all we know.</p></h3>
       
       
       </div>
    
         {%endblock%}