:root {
 --color-red: rgba(230, 5, 5, 0.623);
}
body {
    background: #630cb4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

.links { 
   padding: 30px;
  }

header {
    text-align: center;
  }

header a {

    margin: 30px;
    color: white;
    text-decoration: none;
    font-size: 22px;

    
  }

header a:hover {
  color: var(--color-red);
  transition: 500ms;
}